.res-card {
  @extend .box ;
  min-height: 410px;
  margin-bottom: $normal-space;
  .image {
    margin: auto;
    height: 80px;
    width: 100%;
    img {
      max-width: 100%;
      height: auto;
      margin: auto;
      display: block;
    }
  }
}