.section-header-wrap {
  background-color: $section-header-bg-color;
  color: white;
  padding: $section-header-padding;
  margin-bottom: $section-header-padding;
  .section-headline {
    text-align: center;
    @include rem('font-size', $section-header-headline-fontsize);
    font-weight: 500;
  }
  .version-selector {
    margin-top: $section-header-margin-bottom;

    .btn-group {
      // fix for wrong version selection rendering
      + .btn-group {
        .btn:first-child {
          border-left: 0px solid;
        }
      }
      .btn {
        border-color: $section-header-forecolor;

      }
    }
  }
  a {
    color: $section-header-forecolor;
    text-decoration: none;
  }
}