// Corporate colors
$yii-blue: #4180C8;
$yii-yellow: #E96E38;
$yii-green: #7EC540;

// Space sizes
$small-space: 10px;
$normal-space: $small-space * 2;
$big-space: $small-space * 4;

//Section header
$section-header-bg-color: $yii-blue;
$section-header-padding: $big-space;
$section-header-margin-bottom: $normal-space;
$section-header-forecolor: white;
$section-header-headline-fontsize: 38px;

//boxes
$box-shadow: -1px 1px 11px 3px rgba(0, 0, 0, 0.05);
$box-bg-color: white;

// Footer
$footer-color: #ddd;
$footer-background-color: white;

//Code highlihting
$font-size-codeblocks: 16px;
