// Corporate colors
$yii-blue: #4180C8;
$yii-yellow: #E96E38;
$yii-green: #7EC540;

// Space sizes
$small-space: 10px;
$normal-space: $small-space * 2;
$big-space: $small-space * 3;

// Footer
$footer-color: #ddd;
$footer-background-color: white;
